.navbar {
  grid-area: nav-bar;
  height: 70px;
  background-color: var(--color-primary-darken);
  position: sticky;
  padding: 10px 20px;
  z-index: 15;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  @include breakpoint($to-sm) {
    height: 60px;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 0 1%;
    height: 100%;
  }
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  &__image {
    width: 40px;
    height: 100%;
    position: relative;
  }

  &__brand {
    display: flex;
    align-items: center;
  }
}
