.artist-card {
  padding: var(--space-md) var(--space-sm);
  background-color: #1f1e1e;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #0a0a0a7a, #070707fa);
  &__image {
    width: 170px;
    height: 182px;
    & > div {
      z-index: 99;
    }
    & img {
      max-width: 170px;
      max-height: 170px;
      border-radius: 50%;
      height: auto;
    }

    transform: translateY(50px);
    margin-right: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__genres {
      display: inline-flex;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      color: #aaaaaa;
      & li:not(:last-child) {
        margin-right: 9px;
      }
    }
  }
}

ul.social {
  align-self: flex-end;
  margin-left: auto;

  li {
    color: rgba(196, 196, 196, 0.801);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 1%;
    font-size: var(--text-md);
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    transition: ease 0.3s;
    border-radius: 8px;
    &:hover {
      color: rgb(230, 226, 223);
      border: 1px solid rgb(146, 146, 146);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
