.artist-card {
  padding: var(--space-md) var(--space-sm);
  background-color: #1f1e1e;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #0a0a0a7a, #070707fa);
  position: relative;
  flex-wrap: wrap;
  @include breakpoint($to-sm) {
    flex-direction: column;
    align-items: center;
  }
  &__image {
    min-width: 170px;
    height: 182px;
    flex-basis: 170px;
    transform: translateY(50px);
    margin-right: 15px;
    @include breakpoint($to-sm) {
      transform: translateY(0);
      margin-right: 0;
    }
    @include breakpoint($to-sm) {
      min-width: 120px;
      flex-basis: 120px;
      height: 132px;
    }
    & > div {
      max-width: 170px;
      max-height: 170px;
      z-index: 99;
      @include breakpoint($to-sm) {
        max-width: 120px;
        max-height: 120px;
      }
    }
    & img {
      max-width: 170px;
      max-height: 170px;
      border-radius: 50%;
      height: auto;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      @include breakpoint($to-sm) {
        max-width: 120px;
        max-height: 120px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint($to-sm) {
      align-items: center;
    }
    margin-bottom: 20px;
    &__genres {
      display: inline-flex;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      color: #aaaaaa;
      & li:not(:last-child) {
        margin-right: 9px;
      }
    }
  }
}

ul.social {
  align-self: flex-end;
  margin-left: auto;
  display: inline-flex;
  @include breakpoint($to-sm) {
    margin-left: 0;
    align-self: center;
  }
  li {
    color: rgba(196, 196, 196, 0.801);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--space-lg);
    height: var(--space-lg);
    padding: 1%;
    font-size: var(--text-md);
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    transition: ease 0.3s;
    border-radius: 8px;
    &:hover {
      color: rgb(230, 226, 223);
      border: 1px solid rgb(146, 146, 146);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
