.burger-container {
  position: sticky;
  z-index: 20;
  top: 5px;
  left: 10px;
  -webkit-user-select: none;
  height: 0;
  &__inner {
    background-color: rgb(18, 18, 27);
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
    @include breakpoint($to-md) {
      left: auto !important;
      right: 20px;
    }
  }
  @include breakpoint($to-md) {
    left: none !important;
    right: 20px;
  }
  user-select: none;
  & span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 20;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
}

.burger {
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 2px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 21; /* and place it over the hamburger */

  -webkit-touch-callout: none;
  &:hover ~ span {
    background: rgb(255, 255, 255);
  }
}

// transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
