.dropdown {
  position: absolute;
  background-color: #fff;
  width: 350px;
  max-height: 200px;
  overflow-y: scroll;
  margin-top: 5px;
  border-radius: 3px;
  padding: 0 0.5rem;
  color: rgb(36, 36, 36);
  left: 0;

  @include breakpoint($to-sm) {
    width: 280px;
  }
  &__items {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:hover {
      background-color: rgb(101, 101, 233);
      color: whitesmoke;
    }
  }
}
