.input {
  &--primary {
    font-size: var(--text-md);
    line-height: 44px;
    letter-spacing: -0.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    caret-color: #1d66b9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;

    @include breakpoint($to-sm) {
      width: 100%;
      line-height: 24px;
      font-size: var(--text-sm);
    }
  }
}
.input-spacing {
  width: 80%;
  background-color: #282828;
  padding: 16px 20px;

  @include breakpoint($to-sm) {
    width: 100%;
    padding: 8px 10px;
  }
}

.input--newplaylist {
  padding: 1px 10px;
}

.noUi-target {
  height: 100%;
  & .noUi-handle {
    border-radius: 50%;
    width: 17px;
    height: 17px;
  }
  border: none !important;
}
.noUi-handle:before,
.noUi-handle:after {
  height: 0px;
}
.noUi-connect {
  background: var(--color-highlight);
}
