.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -65%);
  height: 0;
  z-index: 50;
  color: rgb(19, 18, 18);
  /*&::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;
    background-color: rgba(39, 34, 34, 0.425);
  }*/

  &__header {
    display: flex;
    background-color: var(--color-primary);
    padding: 20px 20px;
    justify-content: space-between;
    @include breakpoint($to-sm) {
      padding: 7px 15px;
    }
    &__title {
      color: whitesmoke;
      font-weight: 300;
    }
  }

  &__wrapper {
    width: 500px;
    background-color: whitesmoke;
    z-index: 52;
    @include breakpoint($to-sm) {
      transform: translate(-50%, -50%);
      width: 300px;
    }
  }

  &__content {
    max-height: 50vh;
    overflow-y: auto;
    @include breakpoint($to-sm) {
      max-height: 400px;
      width: 300px;
    }
  }
}
.lyrics {
  margin: 0 auto;
  text-align: center;
  @include breakpoint($to-sm) {
    font-size: 11px;
  }
}
