.tracklist-container {
  padding: 20px 10px;
  background-color: var(--color-primary-lighten);
  width: 100%;
  min-height: 100px;
}

.tracklist {
  display: grid;
  grid-auto-rows: auto;
}

.track {
  &.playing {
    background-color: var(--color-primary-lighten-3);
    .track__play {
      transform: scale(1);
    }
    .track__name {
      transform: translateX(12px);
    }
  }
}

.track {
  font-size: calc(var(--text-xs) * 1.05);
  font-weight: 300;
  border-bottom: 1px solid darken(#282828, 4%);
  padding: 12px 5px;
  display: flex;
  transition: all 0.3s ease-in-out;
  &:hover:not(.playing) {
    background-color: var(--color-primary-lighten-3);
    .track__play {
      transform: scale(1);
    }
    .track__name {
      transform: translateX(12px);
    }
  }
  cursor: pointer;

  &__play {
    transition: all 0.2s ease-in;
    transform: scale(0);
  }
  &__number {
    margin-right: var(--space-lg);
  }
  &__name {
    transition: all 0.3s ease-in-out;
    margin-right: auto;
  }
  &__playcount {
    margin-right: 3%;
  }
  &__lyrics {
    margin-right: 5px;
    cursor: pointer;
  }

  &__loading {
    transition: all 0.2s ease-in;
    display: none;
  }
}
