$shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.144);
$shadow-hard: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2);

:root {
  /* COLORS */

  --color-light: 3;
  --color-primary-darken: hsl(227, 13%, 12%);
  --color-primary: rgb(31, 33, 40);
  --color-primary-lighten: hsl(227, 13%, 15%);
  --color-primary-lighten-2: hsl(227, 13%, 17%);
  --color-primary-lighten-3: hsl(227, 13%, 21%);

  --color-dark: rgba(12, 12, 12);
  --color-player: #141418;
  --color-highlight: #00d95f;

  --white: #ffffff;
  --gray-1: rgb(240, 240, 240);
  --gray-2: rgb(220, 220, 220);
  --gray-3: rgb(208, 208, 208);
  --gray-4: rgb(190, 190, 190);
  --gray-5: rgb(169, 169, 169);
  --gray-6: rgb(152, 152, 152);
  --gray-7: rgb(120, 120, 120);
  --gray-8: rgb(104, 104, 104);
  --gray-9: rgb(80, 80, 80);
  --gray-10: rgb(56, 56, 56);
  --gray-11: rgb(40, 40, 40);
  --gray-12: rgb(16, 16, 16);
  --black: rgb(1, 1, 1);

  --color-text: var(--gray-1);
  /**/

  /* you can manage typography editing only these 2 variables */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /**/

  /* TYPE SCALE */
  --text-fixed-xs: calc(
    16px / (var(--text-base-size) * var(--text-scale-ratio))
  );
  --text-fixed-sm: calc(
    24px / (var(--text-base-size) * var(--text-scale-ratio))
  );
  --text-fixed-md: calc(
    32px / (var(--text-base-size) * var(--text-scale-ratio))
  );
  --text-fixed-lg: calc(
    48px / (var(--text-base-size) * var(--text-scale-ratio))
  );

  --var-1: calc(var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xs: calc(1em / var(--var-1));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  /**/

  /* LINE HEIGHT */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  /**/

  /* BASELINE */
  /* spacing values */
  /*What if you want to update all spacing values at once,
   without having to change the text-base-size variable? 
   Just update the space-unit variable*/
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  /**/

  /* fixed values - not affected by --space-unit or --text-base-size */
  --space-unit-fixed: 1rem;
  --space-xxs-fixed: calc(0.25 * var(--space-unit-fixed));
  --space-xs-fixed: calc(0.5 * var(--space-unit-fixed));
  --space-sm-fixed: calc(0.75 * var(--space-unit-fixed));
  --space-md-fixed: calc(1.25 * var(--space-unit-fixed));
  --space-lg-fixed: calc(2 * var(--space-unit-fixed));
  --space-xl-fixed: calc(3.25 * var(--space-unit-fixed));
  --space-xxl-fixed: calc(5.25 * var(--space-unit-fixed));

  /* FLEX GRID */
  --grid-gap: 10px;
}

$gray-light: rgb(55, 57, 59);
$gray-middle: rgb(37, 38, 39);
$gray-dark: rgb(24, 24, 24);

/* BREAKPOINTS */

$from-xlg: min-width 1600px; // 1200px
$from-lg: min-width 1200px; // 1100px
$from-md: min-width 992px; // 900px
$from-sm: min-width 768px; // 600px
$from-xsm: min-width 576px; // 500px

$to-xlg: max-width 1600px;
$to-lg: max-width 1200px;
$to-md: max-width 992px;
$to-sm: max-width 768px;
$to-xsm: max-width 576px;

@include breakpoint($from-md) {
  :root {
    // you can manage typography editing only these 2 variables
    --text-base-size: 1.15em;
    --text-scale-ratio: 1.25;
  }
}

$grid-columns: 12;
/* CSS GRID */
$gap-horizontal: 25px;
$gap-vertical: $gap-horizontal;
