.similar-artists {
  margin-top: var(--space-xxl);
  position: relative;
  &__inner {
    @extend .artist-grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  @include breakpoint($to-sm) {
    margin-top: var(--space-md);
  }
}
