.section-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  overflow-x: hidden;
  /*padding-top: 72px;
  padding-bottom: 82px;*/

  @include breakpoint($to-xsm) {
    justify-content: center;
  }
}
.section--full-height {
  min-height: 100%;
  overflow: hidden;
}

.container-home {
  height: 80%;
  position: relative;
}
.landing-image-container {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  @include breakpoint($to-sm) {
    margin-top: 5%;
  }
}
.landing-image {
  height: 350px;
  width: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include breakpoint($to-sm) {
    height: 250px;
    width: 250px;
  }
  background-image: url(../images/icon-music-notes.svg);
}
