.section-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  overflow-x: hidden;
  /*padding-top: 72px;
  padding-bottom: 82px;*/

  @include breakpoint($to-xsm) {
    justify-content: center;
  }
}
.section--full-height {
  min-height: 100%;
  overflow: hidden;
}

.container-home {
  height: 80%;
}
