.heading-primary {
  color: #ecf0f1;
  padding: 0 5%;
  margin-bottom: 40px;
  font-size: var(--text-xl);
  font-weight: 400;
  font-family: inherit;
}

.title-primary {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 36px;
}
