.text-center {
  text-align: center;
}

.mh-100vh {
  min-height: 100vh;
}

.main-container {
  min-height: calc(100vh - 172px);
  position: relative;
}

.m0-auto {
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px !important;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.margin-top-lg {
  margin-top: 7%;
}
.loading-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  &__inner {
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .loading-image {
    width: 20%;
    height: 20%;
  }
}
